@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

/* HTML5 display definitions
	 @mixin ========================================================================= */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

template {
  display: none; }

[hidden] {
  display: none; }

/* Links
	 @mixin ========================================================================= */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
	 @mixin ========================================================================= */
abbr[title] {
  border-bottom: 1px dotted; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
	 @mixin ========================================================================= */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* Grouping content
	 @mixin ========================================================================= */
figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
	 @mixin ========================================================================= */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit; }

button {
  overflow: visible; }

button {
  text-transform: none; }

html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/* Tables
	 @mixin ========================================================================= */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Thin.eot");
  src: local("☺"), url("../fonts/Circe-Thin.woff") format("woff"), url("../fonts/Circe-Thin.ttf") format("truetype"), url("../fonts/Circe-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.eot");
  src: local("☺"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype"), url("../fonts/Circe-Regular.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Bold.eot");
  src: local("☺"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype"), url("../fonts/Circe-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  @font-face {}  font-family: 'Circe';
  src: url("../fonts/CRC65.eot");
  src: local("☺"), url("../fonts/CRC65.woff") format("woff"), url("../fonts/CRC65.ttf") format("truetype"), url("../fonts/CRC65.svg") format("svg");
  font-weight: 1000;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Light.eot");
  src: local("☺"), url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype"), url("../fonts/Circe-Light.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

.section-work__container, .section-advantages__container, .section-start__container, .section-results__container, .section-support__container, .section-pay__container, .section-about__container, .section-api__container, .section-last__container {
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 2em; }

.section-work__title, .section-advantages__title, .section-start__title, .section-results__title, .section-support__title, .section-pay__title, .section-about__title, .section-api__title, .section-last__title {
  margin: 0;
  padding-top: 0.83em;
  font-size: 3em;
  font-weight: 600;
  text-align: center; }

.section-work__text, .section-start__text, .section-support__text, .section-support__tagline, .section-pay__text, .section-about__text, .section-about__tagline, .section-api__text, .section-api__tagline, .section-last__text {
  padding: 0; }

.section-pay__link, .contact__link {
  color: #5a93e0;
  text-decoration: none;
  border-bottom: 1px dashed; }

.section-work__text, .section-start__text, .section-support__text, .section-support__tagline, .section-pay__text, .section-about__text, .section-about__tagline, .section-api__text, .section-api__tagline, .section-last__text {
  text-align: center;
  font-size: 1.1em;
  width: 70%;
  margin: 0 auto;
  padding: 1em;
  font-weight: 600; }

@media screen and (max-width: 768px) {
  .section-work__title, .section-advantages__title, .section-start__title, .section-results__title, .section-support__title, .section-pay__title, .section-about__title, .section-api__title, .section-last__title {
    line-height: 1;
    font-size: 2em;
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
  .section-work__text, .section-start__text, .section-support__text, .section-support__tagline, .section-pay__text, .section-about__text, .section-about__tagline, .section-api__text, .section-api__tagline, .section-last__text {
    display: inline-block;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px; } }

body {
  font-family: 'Circe', sans-serif;
  font-weight: 600; }

.section-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .section-head__container {
    width: 100%; }
  .section-head__title {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 3rem auto;
    text-align: center;
    color: white;
    font-size: 2.4em;
    font-weight: 400; }
  .section-head__description {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.1em;
    text-align: center;
    padding: 0.5rem; }

.logo {
  display: block;
  width: 212px;
  margin: 0 auto; }

@media screen and (max-width: 768px) {
  .section-head__title {
    width: 100%;
    font-size: 1.5em; }
  .logo {
    position: relative;
    left: 10px; }
    .logo img {
      width: 180px; } }

.section-work {
  background-color: #f8f8f8;
  padding-bottom: 2em;
  background-image: url(../img/bg-2_v2.jpg);
  background-repeat: no-repeat;
  background-position: center bottom; }

.section-advantages {
  min-height: 500px;
  width: 100%;
  background-color: #d9e7e5;
  padding-top: 150px;
  padding-bottom: 2em; }
  .section-advantages__title {
    padding-top: 0;
    padding-bottom: 2rem; }

.section-start {
  min-height: 500px;
  background-image: url(../img/hip-square.png);
  background-size: 200px;
  background-repeat: repeat;
  padding-top: 2em;
  padding-bottom: 2em; }
  .section-start--last-section {
    background-color: white;
    min-height: 0;
    background-image: none; }
  .section-start__text {
    font-weight: 400; }
  .section-start__link {
    color: inherit; }

.section-results {
  width: 100%;
  min-height: 400px;
  color: white;
  background-image: url(../img/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 3em; }
  .section-results__title {
    padding-bottom: .6em;
    padding-top: .6em; }
  .section-results__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: auto; }
  .section-results__item {
    width: 50%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 35px; }
  .section-results__icon {
    position: absolute;
    top: 25px;
    left: 25px; }
  .section-results__text, .section-results__tagline {
    padding-left: 60px;
    width: 70%; }
  .section-results__tagline {
    font-weight: 700;
    font-size: 1.2em; }
  .section-results__text {
    font-weight: 400; }

@media screen and (max-width: 680px) {
  .section-results__container {
    display: block; }
  .section-results__item {
    padding: 0;
    margin: 0;
    padding-top: .2em;
    padding-bottom: .2em;
    width: 100%; }
  .section-results__text {
    width: calc(100% - 75px); }
  .section-results__icon {
    width: 35px;
    top: 25px;
    left: 10px; } }

.section-support__container {
  margin-bottom: 2em; }

.section-support__text, .section-support__tagline {
  line-height: 1.5; }

.section-support__tagline {
  font-weight: 700;
  font-size: 1.3em;
  padding-bottom: 3rem; }

.section-pay {
  background-color: #ecf4f7; }
  .section-pay__container {
    text-align: center;
    padding-bottom: 5rem; }
  .section-pay__text {
    line-height: 1.5; }
  .section-pay__paypal-logo {
    display: inline-block; }

.section-about {
  background-color: #f8f8f8;
  padding-top: 1em;
  padding-bottom: 2em;
  background-image: url(../img/bg-2_v2.jpg);
  background-repeat: no-repeat;
  background-position: center bottom; }
  .section-about__tagline {
    font-weight: 700;
    font-size: 1.5em; }

.section-api {
  background-image: url(../img/bg-4.jpg);
  background-size: 250px;
  background-repeat: repeat;
  padding-top: 2em;
  padding-bottom: 2em; }
  .section-api__tagline {
    font-weight: 700; }

.section-last {
  background-color: white;
  background-size: 200px;
  background-repeat: repeat;
  padding-top: 2em;
  padding-bottom: 2em; }
  .section-last__text {
    font-weight: 400; }
  .section-last__link {
    color: inherit; }

.grid-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  margin: 2rem auto; }
  .grid-icons__item {
    width: 210px;
    text-align: center;
    position: relative; }
  .grid-icons__arrow-right:after {
    content: '';
    position: relative;
    top: 50px;
    display: inline-block;
    width: 100px;
    height: 23px;
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center; }
  .grid-icons__icon {
    display: block;
    width: 121px;
    margin: auto; }
  .grid-icons__text {
    display: inline-block;
    text-align: center;
    padding-top: 1em;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 10px; }

@media screen and (max-width: 680px) {
  .grid-icons {
    display: block; }
    .grid-icons__item {
      width: 100%; }
    .grid-icons__arrow-right:after {
      position: static;
      display: block;
      width: 100%;
      height: 48px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background-image: url(../img/arrow-down.png); } }

.grid-thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between; }
  .grid-thumbs.mar-1 {
    margin-top: 1em;
    margin-bottom: 1em; }
  .grid-thumbs__item {
    position: relative;
    padding: 1.2em 0 1.2em 0;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 280px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.42);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.42);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.42); }
    .grid-thumbs__item--payments {
      display: inline-block;
      text-align: center;
      padding: .8em;
      width: 100%;
      max-width: 200px; }
  .grid-thumbs__icon {
    width: 42px;
    height: 38px;
    position: absolute;
    left: 17px;
    top: 25px; }
  .grid-thumbs__text {
    display: block;
    padding-left: 75px;
    padding-right: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .9em;
    line-height: 2;
    margin-top: .5em; }
    .grid-thumbs__text--text-bold {
      font-family: 'Circe', sans-serif;
      font-size: 1.4em;
      line-height: 1.2;
      font-weight: 700;
      padding-right: .2em;
      padding-bottom: .2em; }
  .grid-thumbs__payment-logo {
    display: inline-block;
    padding-top: 1em; }
  .grid-thumbs__payment-name {
    margin: 0;
    padding-top: 1em;
    display: block;
    font-weight: 400; }

@media screen and (max-width: 768px) {
  .grid-thumbs__item {
    padding: 1em; }
  .grid-thumbs__icon {
    left: 10px;
    top: 30px;
    width: 31px;
    height: auto; }
  .grid-thumbs__text {
    padding: 0; }
    .grid-thumbs__text--text-bold {
      padding-left: 35px; } }

@media screen and (max-width: 680px) {
  .grid-thumbs {
    display: block; }
    .grid-thumbs__item {
      padding: 1em;
      max-width: calc(100% - 55px); }
    .grid-thumbs__icon {
      top: 24px;
      left: 10px;
      width: 31px;
      height: auto; }
    .grid-thumbs__text {
      padding-left: 50px; } }

.grid-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  margin: 0 auto; }
  .grid-contacts__item {
    position: relative;
    border: 4px solid #f5f5f7;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 33.5%; }
  .grid-contacts__icon {
    display: block;
    float: left;
    width: 30px;
    height: 30px; }

.contact {
  width: 100%; }
  .contact__inner {
    display: block;
    max-width: 180px;
    margin: 0 auto;
    white-space: nowrap; }
  .contact__icon {
    float: left;
    padding-right: 15px;
    position: relative;
    top: 5px; }
  .contact__text {
    display: block; }
  .contact__link {
    display: inline-block; }

@media screen and (max-width: 768px) {
  .grid-contacts__item {
    padding: 1em; } }

@media screen and (max-width: 680px) {
  .grid-contacts {
    display: block; }
    .grid-contacts__item {
      margin-bottom: 20px;
      width: 250px;
      margin: 0 auto;
      margin-bottom: 10px; } }

.grid-simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto; }
  .grid-simple__item {
    width: 33.5%;
    padding-right: 20px;
    padding-left: 20px; }
  .grid-simple__text, .grid-simple__tagline {
    text-align: center; }
  .grid-simple__tagline {
    font-weight: 700;
    font-size: 1.5em; }

@media screen and (max-width: 768px) {
  .grid-simple {
    display: block; }
    .grid-simple__item {
      margin: 0 auto;
      width: 80%; } }

.grid-flags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  max-width: 790px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px; }
  .grid-flags__item {
    display: inline-block;
    text-align: center; }
  .grid-flags__country {
    display: inline-block;
    text-align: center;
    width: 100%; }

@media screen and (max-width: 768px) {
  .grid-flags {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap; }
    .grid-flags__item {
      margin-bottom: 2em; } }

.grid-table {
  display: table;
  max-width: 800px;
  margin: auto; }
  .grid-table__row {
    display: table-row; }
  .grid-table__item {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 45%;
    padding-right: 5%;
    padding-left: 65px; }
  .grid-table__tagline {
    font-weight: 700;
    min-height: 50px; }
  .grid-table__text {
    width: 90%; }
  .grid-table__icon {
    position: absolute;
    left: 5px;
    top: 20px; }

@media screen and (max-width: 680px) {
  .grid-table {
    display: block; }
    .grid-table__row {
      display: block; }
    .grid-table__item {
      display: block;
      width: calc(100% - 60px);
      padding-right: 0;
      padding-left: 55px; }
    .grid-table__tagline {
      position: static;
      min-height: 0;
      margin-bottom: 0; }
    .grid-table__text {
      margin-top: 20px; }
    .grid-table__icon {
      width: 40px;
      top: 5px; } }

.button-block {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em; }
  .button-block--bg-black {
    background-color: #282828; }
  .button-block--def-space {
    margin-top: 4rem; }
  .button-block--padding-none {
    padding-top: 0; }
  .button-block__button {
    display: inline-block;
    background-color: #5a93e0;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 1em 5em 1em 5em;
    border-radius: 4px; }
