.grid-thumbs
    +flexbox
    &__item
        position: relative
        padding: 1.2em 
        background-color: white
        margin-right: 20px
        max-width: 280px
        -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.42)
        -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.42)
        box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.42)
    &__icon
        width: 42px
        height: 38px
        position: absolute
        left: 20px
        top: 20px

        
    &__text
        display: block
        margin-left: 65px
        padding-right: 2em
        font-family: 'Open Sans', sans-serif
        font-weight: 400
        font-size: .9em
        line-height: 2
        margin-top: .5em

 
        
        
        
        &--text-bold
            font-family: 'Circe', sans-serif
            font-size: 1.4em
            line-height: 1.2
            font-weight: 700
