.section-support

    &__container
        @extend %base-container
        margin-bottom: 2em
    &__title
        @extend %base-title
    &__text, &__tagline
        @extend %base-text
        @extend %base-paragraph
        width: 90%
        line-height: 1.5
    &__tagline
        font-weight: 700
        font-size: 1.3em
        padding-bottom: 3rem

@media screen and (max-width: $small-scale)
    .section-support
        &__text, &__tagline
            width: 80%

    