.section-pay
    background-color: #ecf4f7
    &__container
        @extend %base-container
        text-align: center
        padding-bottom: 5rem

    &__title

        @extend %base-title

    &__text
        @extend %base-text
        @extend %base-paragraph
        line-height: 1.5

    &__link
        @extend %base-link

    &__paypal-logo
        display: inline-block
