.section-support
    padding-top: 2em
    // padding-bottom: 3em
    background-color: white
    &__container
        @extend %base-container
    &__title
        @extend %base-title
    &__text, &__tagline
        @extend %base-text
        @extend %base-paragraph
        width: 95%
        line-height: 1.5
    &__tagline
        font-weight: 700
        font-size: 1.3em
        padding-bottom: 3rem

@media screen and (max-width: $small-scale)
    .section-support__text
        width: 80%

    